# Python
__pycache__/
.venv/
venv/
*.pyc
*.py[cod]

# Environments
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite3
*.sqlite
*.db

# Logs
*.log

# IDEs
.vscode/
.idea/

# Node
node_modules/
dist/
.cache/